body {
    background-color: #2A0944
}
h1, h2, h3, h4, h5, h6 {
    color: #FEC260;
}
h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
    color: #27b61a;
}
a {
    color: inherit;
}